h1,
h2,
h3,
h4 {
  color: rgb(200, 200, 200);
}

.user-container {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 6px 4px black;
}

.user-container input{
  width: 50%;
  margin-top: 15px;
}

.user-split-bar {
  position: absolute;
  height: 100%;
  width: 0px;
  border: 2px solid rgb(10, 10, 10);
  left: 50%
}

.user-menu{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-options{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-select{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-select select{
  width: 50%;
  
}

.menu-edit-delete{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.col-row-select{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.up-button{
  width: 20px;
  height: 20px;
}

.menu-buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    width: 75%;
}

.arrow-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.select-arrow svg{
  fill: teal;
}

.user-nav-bar {
  display: flex;
  position: fixed;
  background-color: orange;
  height: 60px;
  width: 400px;
  bottom: 0;
  right: 0;
}

.nav-link {
  height: 60px;
  width: 150px;
  background-color: purple;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

#bb{
    border-right: 6px solid black;
}

.nn{
    display:flex;
    align-items:center;
    justify-content:center;
}

.wide-screen{
    height:650px;
    width:1400px;
    display:flex;
}

.board-and-campaign-portion{
    height:650px;
    width:700px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.eeeee{
    color:white;
    position:relative;
    bottom:77px;
}

.pieces-portion{
    height:650px;
    width:700px;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.bigger-square-inside-board-and-campaign-portion{
    height:400px;
    width:400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    position:relative;
    bottom:50px;
}

.eeeef{
    color:white;
}

.make-room{
    height:10px;
    width:20px;
}

.section-for-selecting-campaign{
    height:100px;
    width:200px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border: 3px solid white;
}

.section-for-selecting-board{
    height:100px;
    width:200px;
    position:relative;
    bottom:100px;
    flex-direction:column;
    align-items:center;
    border: 3px solid white;
}

#ppp{
    position:relative;
    bottom:20px;
}

.selector-thing{
    height:50px;
    width:150px;
    position:relative;
    bottom:15px;
}

.selector-thingy{
    height:30px;
    width:150px;
    position:relative;
    bottom:15px;
}

.lllk{
    position:relative;
    bottom:10px;
}

.option-stuffs{
    height:40px;
    width:400px;
    display:flex;
    justify-content:space-between;
    position:relative;
    bottom:20px;
}

.holder-of-piece-image{
    height:150px;
    width:150px;
    border:3px solid white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    bottom:20px;
}

.holder-of-piece-image img{
    height:100%;
    width:100%;
}

.box-for-displaying-piece-characteristics{
    height:200px;
    width:400px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    position:relative;
    bottom:25px;

}

.knbg{
    position:relative;
    right:150px;
    top:40px;
}

.to-list-each-characteristic{
    height:200px;
    width:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
    position:relative;
    right:3px;
}

.to-show-and-allow-to-alter-each-characteristic{
    height:200px;
    width:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.ttgtg{
    height:30px;
    width:100px;
}

#ttgtg{
    display:flex;
    justify-content:flex-end;
}

.ggtgt{
    display:flex;
    text-align:center;
    position:relative;
    bottom:15px;
    color:white;
}

.gtgtt{
    position:relative;
    bottom:18px;
    
}

.me-me-i-select{
    width:120px;
    height:24px;
}

.me-me-i-type{
    width:100px;
}
#aa {
  border-left: 6px solid black;
}

#bb {
  border-right: 6px solid black;
}
