h1,
h2,
h3,
h4 {
  color: rgb(200, 200, 200);
}

.user-container {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 6px 4px black;
}

.user-container input{
  width: 50%;
  margin-top: 15px;
}

.user-split-bar {
  position: absolute;
  height: 100%;
  width: 0px;
  border: 2px solid rgb(10, 10, 10);
  left: 50%
}

.user-menu{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-options{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-select{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-select select{
  width: 50%;
  
}

.menu-edit-delete{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.col-row-select{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.up-button{
  width: 20px;
  height: 20px;
}

.menu-buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    width: 75%;
}

.arrow-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.select-arrow svg{
  fill: teal;
}

.user-nav-bar {
  display: flex;
  position: fixed;
  background-color: orange;
  height: 60px;
  width: 400px;
  bottom: 0;
  right: 0;
}

.nav-link {
  height: 60px;
  width: 150px;
  background-color: purple;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

#aa {
  border-left: 6px solid black;
}

#bb {
  border-right: 6px solid black;
}
