h2,h3{
    color: azure;
}

.wow{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:500px;
}

.campaign-options{
    width:200px;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.user{
    align-items:center;
    display:flex;
    flex-direction:column;
}

.are-you-sure{
    position:absolute;
    background-color:yellow;
    height:300px;
    width:300px;
    z-index:1;
}

#z{
position:fixed;
left:0vw;
top:0vh;
height:100vh;
width:100vw;
z-index:3;
display:flex;
flex-direction:column;
}

.space{
    height:100px;
    width:100px;
}

.default-board-title{
    height:50px;
    width:500px;
    display:flex;
    
}

.default-title{
    height:50px;
    width:246px;
}

.default-name{
    height:50px;
    width:246px;
}

.huh{
    text-align:right;
}

.uh{
    text-align:left;
}

.thin{
    height:50px;
    width:8px;
}

.user-nav-bar{
    display:flex;
    position:fixed;
    background-color:orange;
    height:60px;
    width:400px;
    bottom:0;
    right:0;
}

.nav-link{
    height:60px;
    width:150px;
    background-color:purple;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#aa{
    border-left: 6px solid black;
}

#bb{
    border-right: 6px solid black;
}

.nn{
    display:flex;
    align-items:center;
    justify-content:center;
}

.wide-screen{
    height:650px;
    width:1400px;
    display:flex;
}

.board-and-campaign-portion{
    height:650px;
    width:700px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.eeeee{
    color:white;
    position:relative;
    bottom:77px;
}

.pieces-portion{
    height:650px;
    width:700px;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.bigger-square-inside-board-and-campaign-portion{
    height:400px;
    width:400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    position:relative;
    bottom:50px;
}

.eeeef{
    color:white;
}

.make-room{
    height:10px;
    width:20px;
}

.section-for-selecting-campaign{
    height:100px;
    width:200px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border: 3px solid white;
}

.section-for-selecting-board{
    height:100px;
    width:200px;
    position:relative;
    bottom:100px;
    flex-direction:column;
    align-items:center;
    border: 3px solid white;
}

.selector-thing{
    height:50px;
    width:150px;
    position:relative;
    bottom:15px;
}

.selector-thingy{
    height:30px;
    width:150px;
    position:relative;
    bottom:15px;
}

.lllk{
    position:relative;
    bottom:10px;
}

.option-stuffs{
    height:40px;
    width:400px;
    display:flex;
    justify-content:space-between;
}

.holder-of-piece-image{
    height:150px;
    width:150px;
    border:3px solid white;
}

.box-for-displaying-piece-characteristics{
    height:200px;
    width:400px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;

}

.to-list-each-characteristic{
    height:200px;
    width:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
    position:relative;
    right:3px;
}

.to-show-and-allow-to-alter-each-characteristic{
    height:200px;
    width:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.ttgtg{
    height:30px;
    width:100px;
}

#ttgtg{
    display:flex;
    justify-content:flex-end;
}

.ggtgt{
    display:flex;
    text-align:center;
    position:relative;
    bottom:15px;
    color:white;
}

.gtgtt{
    position:relative;
    bottom:18px;
    
}

.me-me-i-select{
    width:120px;
    height:24px;
}

.me-me-i-type{
    width:100px;
}