.about{
    height: 75vh;
    width: 75vw;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:hidden;
    background: rgb(20,20,20);
    box-shadow: 5px 6px 4px black;
    padding: 25px
}

.title-card{
    font-size:4em;
    font-family: 'Carter One', cursive;
    color:rgb(150, 150, 150);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.603);
    top:-30px;
}

.technologies-rectangle{
    bottom:60px;
    height:200px;
    width:960px;
}

.description{
    font-family: Lucida;
    color:rgb(150, 150, 150);
    font-size:3em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.603);
    width:800px;
    /* left:225px; */
    /* top:-100px; */
}

.options{
    /* position:relative; */
    height:100px;
    width:1000px;
    top:-130px;
    display:flex;
    justify-content: center;
    margin-bottom:30px;
}

.options button{
    margin: 0px 20px 0px 20px;
}

button{
    width:80px;
}